In [1]:
# import libraries
import pandas as pd
import pingouin as pg

In [2]:
# read data
data = pd.read_excel('data/occupation_exposure_eval_data_try.xlsx')
data = data[["exposure_talitha", "exposure_azka", "exposure_indhy"]]
# data = data.iloc[:15]

# Menyesuaikan DataFrame
data_melt = data.melt(var_name='raters', value_name='ratings')
data_melt['targets'] = data_melt.groupby('raters').cumcount()

data_melt

               raters   ratings  targets
0    exposure_talitha  0.187500        0
1    exposure_talitha  0.625000        1
2    exposure_talitha  0.625000        2
3    exposure_talitha  0.650000        3
4    exposure_talitha  0.618182        4
..                ...       ...      ...
115    exposure_indhy  0.662500       35
116    exposure_indhy  0.771429       36
117    exposure_indhy  0.755556       37
118    exposure_indhy  0.725000       38
119    exposure_indhy  0.725000       39

[120 rows x 3 columns]

In [3]:
# Menghitung ICC
icc = pg.intraclass_corr(data=data_melt, targets='targets', raters='raters', ratings='ratings')
print(icc)

    Type              Description       ICC         F  df1  df2      pval  \
0   ICC1   Single raters absolute  0.210242  1.798631   39   80  0.013672
1   ICC2     Single random raters  0.290392  3.150286   39   78  0.000008
2   ICC3      Single fixed raters  0.417508  3.150286   39   78  0.000008
3  ICC1k  Average raters absolute  0.444022  1.798631   39   80  0.013672
4  ICC2k    Average random raters  0.551104  3.150286   39   78  0.000008
5  ICC3k     Average fixed raters  0.682568  3.150286   39   78  0.000008

          CI95%
0  [0.02, 0.42]
1  [0.06, 0.52]
2  [0.22, 0.61]
3  [0.06, 0.69]
4  [0.17, 0.76]
5  [0.46, 0.82]