In [5]:
# import libraries
import pandas as pd
import pingouin as pg

In [8]:
# read data
data = pd.read_excel('data/occupation_exposure_eval_data.xlsx')
data = data[["exposure_talitha", "exposure_azka", "exposure_indhy"]]
# data = data.iloc[:15]

# Menyesuaikan DataFrame
data_melt = data.melt(var_name='raters', value_name='ratings')
data_melt['targets'] = data_melt.groupby('raters').cumcount()

data_melt

               raters   ratings  targets
0    exposure_talitha  0.187500        0
1    exposure_talitha  0.625000        1
2    exposure_talitha  0.625000        2
3    exposure_talitha  0.650000        3
4    exposure_talitha  0.618182        4
..                ...       ...      ...
115    exposure_indhy  0.662500       35
116    exposure_indhy  0.385714       36
117    exposure_indhy  0.755556       37
118    exposure_indhy  0.725000       38
119    exposure_indhy  0.175000       39

[120 rows x 3 columns]

In [9]:
# Menghitung ICC
icc = pg.intraclass_corr(data=data_melt, targets='targets', raters='raters', ratings='ratings')
print(icc)

    Type              Description       ICC         F  df1  df2          pval  \
0   ICC1   Single raters absolute  0.560374  4.823983   39   80  1.363025e-09
1   ICC2     Single random raters  0.574808  6.278327   39   78  3.333630e-12
2   ICC3      Single fixed raters  0.637608  6.278327   39   78  3.333630e-12
3  ICC1k  Average raters absolute  0.792702  4.823983   39   80  1.363025e-09
4  ICC2k    Average random raters  0.802201  6.278327   39   78  3.333630e-12
5  ICC3k     Average fixed raters  0.840722  6.278327   39   78  3.333630e-12

          CI95%
0  [0.38, 0.72]
1  [0.36, 0.74]
2  [0.48, 0.77]
3  [0.65, 0.88]
4   [0.63, 0.9]
5  [0.73, 0.91]